{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {{ super() }}
    <h2 style="margin-left:20px;">Home page</h2>
    <p style="margin-left:20px;"> ეს არის ვებგვერდი, სადაც თავს იყრიან ავტომობილის მყიდველები და გამყიდველები/გამქირავებლები.<br>
        თქვენ შეგიძლიათ გაიაროთ აუტორიზაცია როგორც გამყიდველი ან როგორც მყიდველი.<br>
        შეგიძლიათ დაამატოთ თქვენი გასაყიდი ავტომობილის შესახებ ინფორმაცია <br>
        სურათებთან და ფასთან ერთად, მყიდველებს კი საშუალება ექნებათ დაათვარიელონ იგი<br>
        და სურვილისამებრ დაგიკავშირდნენ. </p>
{% endblock %}